<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/UploadDocaud.css') }}">
</head>
<body>
    <div class="header">
        <h1>SecuSto</h1>
        <h3>Welcome Lawyer {{ lawyer_id }}</h3>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
    <div class="container">
        <div class="cont">
            <div style="margin-top: 2%; border: 1px solid white;">
                <form action="/upload1" method="post" enctype="multipart/form-data">
                    <label for="fileInput">
                        <img src="{{ url_for('static', filename='Images/file.png') }}" class="fileIcon" alt="Upload Document">
                        <h2>Click to Upload</h2>
                    </label>
                    <input type="file" id="fileInput" name="file" style="display: none; cursor: pointer;" onchange="handleFileUpload()">
                </form>
            </div>
        </div>
        <div class="cont1">
            <ul id="fileList">
                {% for file in files %}
                <li>
                    <b><i>File Name:</i></b> {{ file[1] }},
                    <a href="/retrieve1/{{ file[0] }}?filename={{ file[1] }}" download="{{ file[1] }}">Download</a>
                </li>
                {% endfor %}
            </ul>
            <div class="separation-line">
                <br>
                <form id="fetchForm" action="/fetch_files1" method="post">
                    <input type="number" name="client_id" placeholder="Client Id" id="client_id" required>
                    <button type="submit">Fetch</button>
                </form>
                <ul id="fileList1"></ul>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; SecuSto</p>
    </footer>
    <script src="{{ url_for('static', filename='Scripts/UploadDocLawyer.js') }}"></script>
</body>
</html>
