<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="static/Styles/UploadDocFinAdmin.css">
</head>
<body>
    <div class="header">
        <h1>SecuSto</h1>
        <h3>Welcome Judge</h3>
        <a href="/logout" class="logout-button">Logout</a>
    </div>
    <div class="container">
        <div class="cont">
            <div style="margin-top: 2%;border: 1px solid white;">
                <label for="fileInput2">
                    <img src="static/Images/file.png" class="fileIcon" alt="Upload Document">
                    <h2>Click to Upload</h2>
                </label>
                <input type="file" id="fileInput2" style="display: none;cursor:pointer;">
            </div>
        </div>
        <div class="cont1">
            <ul id="fileList2">
                {% for file in files %}
                <li><b><i>File Name:</i></b> {{ file[1] }}, <a href="/retrieve2/{{ file[0] }}?filename={{ file[1] }}" download="{{ file[1] }}">Download</a></li>
                {% endfor %}
            </ul>
            <div class="separation-line">
                <h3> Administrator Operations</h3> 
                <br>
                <button id="updateButton2" class="upd">Update</button>
                <button id="deleteButton2" class="del">Delete</button>
                <br><br>

                <div id="updateFormContainer2"></div>
                <div id="deleteFormContainer2"></div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy;--.</p>
    </footer>
    <script src="static/Scripts/UploadDocLawAdmin.js"></script>
</body>
</html>
