<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Document</title>
    <link rel="stylesheet" href="../static/Styles/UploadDoc.css">
</head>
<body>
    <div class="header">
        <h1>SecuSto</h1>
        <h3>Welcome User {{ user_id }}</h3>
        <a href="/logout" class="logout-button">Logout</a>
    </div>

    <div class="container">
        <div class="cont">
            <div style="margin-top: 2%; border: 1px solid white;">
                <label for="fileInput">
                    <img src="../static/Images/file.png" class="fileIcon" alt="Upload Document">
                    <h2>Click to Upload</h2>
                </label>
                <input type="file" id="fileInput" style="display: none; cursor: pointer;">
            </div>
        </div>
        <div class="cont1">
            <ul id="fileList">
                {% for file in files %}
                <li>
                    Last Will: {{ file[1] }}, <a href="/retrieve9/{{ file[0] }}?filename={{ file[1] }}" download="{{ file[1] }}">Download</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <footer>
        <p>&copy; No copyrights available.</p>
    </footer>
    <script src="../static/Scripts/willUpdate.js"></script>
</body>
</html>
